

h1 {font-family: Arial ; font-size: 12pt}
body {background-color: #c5fffe}



#lien {font-family: Arial; font-size: 10pt; color: rgb(255, 0, 55)}
#photo {width: 190px}

#l1 {font-family: Arial; font-size: 12pt; background-color: #ceffd2}
#l2 {font-family: Arial; font-size: 12pt; background-color: #ffcee5}
#l3 {font-family: Arial; font-size: 12pt; background-color: #fffcce}
#l4 {font-family: Arial; font-size: 12pt; background-color: #d3ceff}

tr {width : 100}